@model _421final.Models.TeamRoot

@{
    ViewData["Title"] = "Delete";
    Layout = "_TeamRootLayout";
}

<h1 style="text-align: center; font-family: DejaVu Sans Mono, monospace; font-size: 46px; font-variant: small-caps; margin-top: 18px; margin-bottom: -8px;">Are you sure you want to delete the @Html.DisplayFor(model => model.FullName)?</h1>

<div>
    <h4 style="text-align: center; font-family: DejaVu Sans Mono, monospace; font-size: 26px; font-variant: small-caps;">If deleted, the @Html.DisplayFor(model => model.FullName) will no longer exist in the database.</h4>
    <hr />
    <dl class="row" style="width:95%; font-family: DejaVu Sans Mono, monospace;">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abbreviation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abbreviation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Division)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Division)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Championships)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Championships)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" style="background-color: black;border: none;color: white; border-radius: 5px;
          padding: 16px 32px;
          text-decoration: none;
          margin: 4px 2px;
          cursor: pointer;">Return to List</a>
    </form>
</div>
