@model IEnumerable<_421final.Models.TeamRoot>

@{
    ViewData["Title"] = "Index";
    Layout = "_TeamRootLayout";
}

<h1 style="text-align: center; font-family: DejaVu Sans Mono, monospace; font-size: 46px; font-variant: small-caps; margin-top: 18px; margin-bottom: -8px;">All 30 Teams</h1>

<p style="text-align: center;">
    <a asp-action="Create" style="font-family: DejaVu Sans Mono, monospace; font-size: 26px; font-variant: small-caps;">Add New</a>
</p>
<table class="table" id="allTeams" class="hover m-5" style="width:95%; font-family: DejaVu Sans Mono, monospace;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Abbreviation)
            </th>
            <th>
                Team
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Division)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Championships)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Abbreviation)
            </td>
                        <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Division)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Championships)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
$(document).ready( function () {
    $('#allTeams').DataTable();
} );
</script>
