@model _421final.Models.PlayerRootTeamAndPlayerVM

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlayerRoot</h4>
    <hr />
    <dl class="row">
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.player.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.player.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.player.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.player.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.player.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.player.Position)
        </dd>
        <dt class = "col-sm-2">
            Team
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.team.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.player.HeightFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.player.HeightFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.player.HeightInches)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.player.HeightInches)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.player.WeightPounds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.player.WeightPounds)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="player.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
