@using _421final.Data
@model _421final.Models.PlayerRootTeamAndPlayerVM

@{
    Layout = "_PlayerRootLayout";
}

<h1 style="text-align: center; font-family: DejaVu Sans Mono, monospace; font-size: 46px; font-variant: small-caps; margin-top: 18px; margin-bottom: -8px;">@Html.DisplayFor(model => model.player.FirstName) @Html.DisplayFor(model => model.player.LastName), @Html.DisplayFor(model => model.team.Abbreviation)</h1>

<div class="player-info m-4" style="width:95%; font-family: DejaVu Sans Mono, monospace;">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.player.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.player.Position)
        </dd>
        <dt class = "col-sm-2">
            Height (Feet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.player.HeightFeet)
        </dd>
        <dt class = "col-sm-2">
            Height (Inches)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.player.HeightInches)
        </dd>
        <dt class = "col-sm-2">
            Weight (Lbs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.player.WeightPounds)
        </dd>
    </dl>
</div>
<div class="player-stats m-4">
    <h4 style="font-family: DejaVu Sans Mono, monospace; font-size: 26px; font-variant: small-caps;">2021-2022 Season Averages</h4>
    <hr />
    <table class="table" style="width:95%; font-family: DejaVu Sans Mono, monospace;">
        <thead style="border: 1px solid; background-color: lightgray;">
            <tr>
                <th>
                    GP
                </th>
                <th>
                    MIN
                </th>
                <th>
                    FG%
                </th>
                <th>
                    3PT%
                </th>
                <th>
                    FT%
                </th>
                <th>
                    PTS
                </th>
                <th>
                    AST
                </th>
                <th>
                    REB
                </th>
                <th>
                    STL
                </th>
                <th>
                    BLK
                </th>
                <th>
                    TO
                </th>
                <th>
                    PF
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.stats.GamesPlayed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.stats.Min)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.fgpct)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.fg3pct)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ftpct)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.stats.Pts)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.stats.Ast)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.stats.Reb)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.stats.Stl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.stats.Blk)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.stats.Turnover)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.stats.Pf)
                    </td>
                </tr>
        </tbody>
    </table>
</div>

@if (User.IsInRole(SD.Admin))
{
    <div class="buttons m-4">

      <a asp-action="Edit" asp-route-id="@Model?.player.Id"  style="background-color: black;border: none;color: white; border-radius: 5px;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;">Edit</a> |
      <a asp-action="Index"  style="background-color: black;border: none;color: white; border-radius: 5px;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;">Return to List</a>
    </div>
}
else
{
    <div class="buttons m-4">
      <a asp-action="Index"  style="background-color: black;border: none;color: white; border-radius: 5px;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;">Return to List</a>
    </div>
}
