@model _421final.Models.PlayerRootTeamAndPlayerVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlayerRoot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.player.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.player.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.player.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.player.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.player.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.player.Position)
        </dd>
        <dt class = "col-sm-2">
            Team
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.team.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.player.HeightFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.player.HeightFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.player.HeightInches)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.player.HeightInches)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.player.WeightPounds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.player.WeightPounds)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.player.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
