@model _421final.Models.MyTeam

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MyTeam</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamStyle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamStyle.style)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
