@model _421final.Models.ComparisonPage

@{
    Layout = "_ComparisonLayout";
}

<div class="search-container" >
    <table id="search-bar-table" >
        <tr>
            <td >
                @using(Html.BeginForm())
                {
                    <input type="text" name="textBoxValue" id= "actual-search-bar" />
                    <input type="submit" value="Submit" />
                }
                <p id="p-superScript">
                     Please use the following format to compare two players: {First Last Year, First Last Year}
                </p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.searchErrorMsg)
            </td>
        </tr>
    </table>
</div>

<div class = "fixed-container">
    <div class= "results-section" id="header">
        @Html.DisplayFor(model => model.playerListHeader)
    </div>
</div>
<div class="fixed-container" >
    <div class = "year-title">
       Year: 
    </div>
    <div class = "year-1">
      @Html.DisplayFor(model => model.year1)
    </div>
    <div class = "year-title">
       Year: 
    </div>
     <div class = "year-1">
        @Html.DisplayFor(model => model.year2)
    </div>    
</div>

<div class = "fixed-container">
    
    <div class = "name-title">
        First Name:
    </div>
    <div class = "first-name">
        @foreach (var item in Model.playerList1)
         {
             @Html.DisplayFor(modelItem => item.FirstName)
          }
    </div>

     <div class = "name-title">
        First Name:
    </div>
    <div class = "first-name">
        @foreach (var item in Model.playerList2)
         {
             @Html.DisplayFor(modelItem => item.FirstName)
          }
    </div>
</div>

<div class = "fixed-container">
    <div class = "name-title">
        Last Name:
    </div>
         <div class = "last-name">
        @foreach (var item in Model.playerList1)
         {
             @Html.DisplayFor(modelItem => item.LastName)
          }
    </div>
      <div class = "name-title">
        Last Name:
    </div>
         <div class = "last-name">
        @foreach (var item in Model.playerList2)
         {
             @Html.DisplayFor(modelItem => item.LastName)
          }
    </div>
</div>

<div class = "fixed-container">
    <div class="team">
        Team:
    </div>
     <div class = "team-name">
        @foreach (var item in Model.playerList1)
         {
             @Html.DisplayFor(modelItem => item.Team.FullName)
         }
    </div>
    <div class="team">
        Team:
    </div>
     <div class = "team-name">
        @foreach (var item in Model.playerList2)
         {
             @Html.DisplayFor(modelItem => item.Team.FullName)
         }
    </div>
</div>

<div class = "fixed-container">
    <div class = "pos">
        Position:
    </div>
    <div class = "position">
        @foreach (var item in Model.playerList1)
         {
             @Html.DisplayFor(modelItem => item.Position)
         }
    </div>
       <div class = "pos">
        Position:
    </div>
    <div class = "position">
        @foreach (var item in Model.playerList2)
         {
             @Html.DisplayFor(modelItem => item.Position)
         }
    </div>

</div>

<div class = "fixed-container">
    <div class = "hft">
        Height (Feet):
    </div>
    <div class = "feet">
        @foreach (var item in Model.playerList1)
         {
             @Html.DisplayFor(modelItem => item.HeightFeet)
         }
    </div>
    <div class = "hft">
        Height (Feet):
    </div>
    <div class = "feet">
        @foreach (var item in Model.playerList2)
         {
             @Html.DisplayFor(modelItem => item.HeightFeet)
         }
    </div>
</div>

<div class = "fixed-container">
    <div class = "hin">
        Height (Inches):
    </div>
    <div class = "inches">
        @foreach (var item in Model.playerList1)
         {
             @Html.DisplayFor(modelItem => item.HeightInches)
         }
    </div>
    <div class = "hin">
        Height (Inches):
    </div>
    <div class = "inches">
        @foreach (var item in Model.playerList2)
         {
             @Html.DisplayFor(modelItem => item.HeightInches)
         }
    </div>
</div>

<div class="fixed-container">
    <div class = "w">
        Weight:
    </div>
     <div class = "weight">
        @foreach (var item in Model.playerList1)
         {
             @Html.DisplayFor(modelItem => item.WeightPounds)
         }
    </div>
    <div class = "w">
        Weight:
    </div>
     <div class = "weight">
        @foreach (var item in Model.playerList2)
         {
             @Html.DisplayFor(modelItem => item.WeightPounds)
         }
    </div>
</div>


<div class = "fixed-container">
    <div class= "results-section" id="header">
        Stats
    </div>
</div>

<div class = "table-container">
    <div class = "stats-table" id="description">
       <div class = "big-box" id="tr">
            @Html.DisplayFor(model => model.year1)
        </div>
    </div>

    <div class = "stats-table" id="description">
       <div class = "big-box" id="tr">
            @Html.DisplayFor(model => model.year2)
        </div>
    </div>

</div>

<div class = "table-container">
    <div class = "stats-table" id="description">
        <div class = "box" id="tr">
            GP
        </div>
        <div class = "box" id="tr">
           MIN
        </div>
        <div class = "box" id="tr">
            FG%
        </div>
        <div class = "box" id="tr">
            3PT%
        </div>
        <div class = "box" id="tr">
            FT%
        </div>
        <div class = "box" id="tr">
            PTS
        </div>
        <div class = "box" id="tr">
            AST
        </div>
        <div class = "box" id="tr">
            REB
        </div>
        <div class = "box" id="tr">
            STL
        </div>
        <div class = "box" id="tr">
            BLK
        </div>
        <div class = "box" id="tr">
            TO
        </div>
        <div class = "box" id="tr">
            PF
        </div>
    </div>

    

    <div class = "stats-table" id="description">
        <div class = "box" id="tr">
            GP
        </div>
        <div class = "box" id="tr">
           MIN
        </div>
        <div class = "box" id="tr">
            FG%
        </div>
        <div class = "box" id="tr">
            3PT%
        </div>
        <div class = "box" id="tr">
            FT%
        </div>
        <div class = "box" id="tr">
            PTS
        </div>
        <div class = "box" id="tr">
            AST
        </div>
        <div class = "box" id="tr">
            REB
        </div>
        <div class = "box" id="tr">
            STL
        </div>
        <div class = "box" id="tr">
            BLK
        </div>
        <div class = "box" id="tr">
            TO
        </div>
        <div class = "box" id="tr">
            PF
        </div>
    </div>
</div>

<div class = "table-container">
    <div class = "stats-table" id="description">
        <div class = "box">
            @Html.DisplayFor(modelItem => Model.player1Stats.GamesPlayed)
        </div>
        <div class = "box">
           @Html.DisplayFor(modelItem => Model.player1Stats.Min)
        </div>
        <div class = "box">
             @Html.DisplayFor(modelItem => Model.fgpct1)
        </div>
        <div class = "box">
            @Html.DisplayFor(modelItem => Model.fg3pct1)
        </div>
        <div class = "box">
            @Html.DisplayFor(modelItem => Model.ftpct1)
        </div>
        <div class = "box">
            @Html.DisplayFor(modelItem => Model.player1Stats.Pts)
        </div>
        <div class = "box">
            @Html.DisplayFor(modelItem => Model.player1Stats.Ast)
        </div>
        <div class = "box">
            @Html.DisplayFor(modelItem => Model.player1Stats.Reb)
        </div>
        <div class = "box">
           @Html.DisplayFor(modelItem => Model.player1Stats.Stl)
        </div>
        <div class = "box">
             @Html.DisplayFor(modelItem => Model.player1Stats.Blk)
        </div>
        <div class = "box">
           @Html.DisplayFor(modelItem => Model.player1Stats.Turnover)
        </div>
        <div class = "box">
            @Html.DisplayFor(modelItem => Model.player1Stats.Pf)
        </div>
    </div>

    

    <div class = "stats-table" id="description">
        <div class = "box">
            @Html.DisplayFor(modelItem => Model.player1Stats.GamesPlayed)
        </div>
        <div class = "box">
           @Html.DisplayFor(modelItem => Model.player1Stats.Min)
        </div>
        <div class = "box">
             @Html.DisplayFor(modelItem => Model.fgpct1)
        </div>
        <div class = "box">
            @Html.DisplayFor(modelItem => Model.fg3pct1)
        </div>
        <div class = "box">
            @Html.DisplayFor(modelItem => Model.ftpct1)
        </div>
        <div class = "box">
            @Html.DisplayFor(modelItem => Model.player1Stats.Pts)
        </div>
        <div class = "box">
            @Html.DisplayFor(modelItem => Model.player1Stats.Ast)
        </div>
        <div class = "box">
            @Html.DisplayFor(modelItem => Model.player1Stats.Reb)
        </div>
        <div class = "box">
           @Html.DisplayFor(modelItem => Model.player1Stats.Stl)
        </div>
        <div class = "box">
             @Html.DisplayFor(modelItem => Model.player1Stats.Blk)
        </div>
        <div class = "box">
           @Html.DisplayFor(modelItem => Model.player1Stats.Turnover)
        </div>
        <div class = "box">
            @Html.DisplayFor(modelItem => Model.player1Stats.Pf)
        </div>
    </div>
</div>










